 <nav class="navbar navbar-expand-lg navbar-light bg-light px-4 position-sticky top-0" style="z-index: 10;">
  
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      <span id="logo">Quiz<strong>UP</strong></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quiz">Nova Pergunta</a>
        </li>
        
        <form class="d-flex" action="/" method="GET">
          <input class="form-control me-2" type="search" name="search" placeholder="ex: Node" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Go!</button>
        </form>
      </ul>
    </div>
  </div>
</nav>